@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@media screen and (max-width:768px) {
	  body{
		background-color: #ffffff;
		font-family: 'Jeju Myeongjo', serif;
		}
      #container { /* 베이스 */
        width: auto;
        margin: 0px auto;
        padding: 5px;
        /* border: 1px solid #bcbcbc; */
      }
      #header {
        padding: 20px;
        margin-bottom: 5px;
       /* border: 1px solid #bcbcbc; */
        background:url("../icons/bg-Clown-fish-cut.png") no-repeat;
        background-position: 100% 0%;
        font-family: 'Hanna', serif;

		background: #e0f9fe; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZjlmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMmNmZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  #e0f9fe 0%, #02cffa 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e0f9fe), color-stop(100%,#02cffa)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #e0f9fe 0%,#02cffa 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #e0f9fe 0%,#02cffa 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #e0f9fe 0%,#02cffa 100%); /* IE10+ */
		background: linear-gradient(to right,  #e0f9fe 0%,#02cffa 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f9fe', endColorstr='#02cffa',GradientType=1 ); /* IE6-8 */


		}
      }
      #top-menu {
        padding: 5px;
        margin-bottom: 10px;
        /* border: 1px solid #bcbcbc; */
        background-color: #ffffff;
      }
	/* 탑 메뉴 시작 */

	/* 탑 메뉴 끝 */
      #sidebar-left {
        width: 160px;
        padding: 0px 20px 0px 0px;
        margin-right: 5px;
        margin-bottom: 20px;
        float: left;
        border: 1px solid #bcbcbc;
        background-color: #ffffff;
      }
      #sidebar-left ul li{
      	display: block;
      	line-height: 150%;
      }
      #content {
        width: 710px;
        padding: 0px 20px 20px 20px;
        margin-bottom: 5px;
        float: left;
        border: 1px solid #bcbcbc;
        background-color: #ffffff;
      }
      #content-top {
        padding: 20px;
        margin-bottom: 5px;
        /* border: 1px solid #bcbcbc; */
        background-color: #ffffff;
      }
      #footer {
        clear: both;
        padding: 1px;
        /* border: 1px solid #bcbcbc; */
        text-align: right;
        font-size: small;
      }
}
